<div class="profile-photo-container">
  <!-- Foto de perfil -->
  <div class="profile-photo-top-right">
    <img [src]="photoPreview || defaultPhoto" alt="Foto de perfil">
  </div>
  <!-- Nombre de usuario -->
  <div class="user-name">
    <div>
      {{ userName || 'Cargando...' }}
    </div>
  </div>
</div>

<div class="back-button-container">
  <button class="back-button" (click)="goBack()">
    <mat-icon class="back-icon">arrow_back_ios</mat-icon>
    <span>Regresar a los Objetivos</span>
  </button>
</div>

<!-- Aquí empieza el contenido del objetivo -->
<div class="objective-container" *ngIf="objectiveForm">
  <!-- Información del objetivo -->
  <div class="objective-info">

    <!-- Nombre del ejercicio -->
    <div class="objective-name">
      <span>{{ objectiveForm!.name }}</span>
    </div>

    <!-- Repeticiones -->
    <div class="objective-detail">
      <span><strong>Repeticiones:</strong> {{ objectiveForm!.reps }}</span>
    </div>

    <!-- Peso añadido (si aplica) -->
    <div class="objective-detail">
      <span><strong>Peso añadido:</strong> {{ objectiveForm!.weight !== 0 ? objectiveForm!.weight + ' kg' : 'No especificado' }}</span>
    </div>
  </div>
</div>
