<div class="objective-container">

  <div class="profile-photo-container">
    <!-- Foto de perfil -->
    <div class="profile-photo-top-right">
      <img [src]="photoPreview || defaultPhoto" alt="Foto de perfil">
    </div>

    <!-- Nombre de usuario -->
    <div class="user-name">
      Tus objetivos,
      <div>
        {{ userName || 'Cargando...' }}
      </div>
    </div>
  </div>

  <!-- Botón para mostrar/ocultar formulario -->
  <div class="form-toggle-container">
    <button (click)="toggleForm()" class="form-toggle-button">
      {{ showFormObjective ? 'Cerrar Objetivo' : 'Añadir Objetivo' }}
      <mat-icon aria-hidden="true" class="form-icon">fitness_center</mat-icon>
    </button>
  </div>

  <!-- Formulario -->
  <form *ngIf="showFormObjective" [formGroup]="objectiveForm" (ngSubmit)="onSubmitObjective()" class="objective-form">
    <div class="form-row">
      <div class="form-group">
        <label for="name">Nombre del Ejercicio</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          placeholder="Nombre del Ejercicio"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="reps">Repeticiones</label>
        <input
          type="number"
          id="reps"
          formControlName="reps"
          placeholder="Número de repeticiones"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="weight">Opcional: Peso añadido (Kg)</label>
        <input
          type="number"
          id="weight"
          formControlName="weight"
          placeholder=""
        />
      </div>
    </div>

    <button
      type="submit"
      [disabled]="objectiveForm.invalid"
      class="objective-button"
    >
      Añadir Objetivo
    </button>
  </form>

  <!-- Tarjetas de objetivos -->
  <div class="objectives-container">
    <div *ngIf="objectives.length === 0" class="no-objectives-message">
      No tienes objetivos todavía,
      <div>
        <span>empieza hoy mismo.</span>
      </div>
    </div>
    <div class="objective-card" *ngFor="let objective of objectives">
      <div class="objective-content">
        <div class="objective-info">
          <h3 class="objective-name">{{ objective.name }}</h3>
          <p class="objective-details">
            {{ objective.reps }}
            {{ objective.weight !== 0 ? 'x ' + objective.weight + ' kg' : 'repeticiones' }}
          </p>
        </div>
        <div class="objective-actions">
          <button class="btn-delete" (click)="deleteObjective(objective._id)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>
