.limiter {
  width: 100%;
  min-height: 100vh; /* Ocupa toda la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Sin espacio adicional */
  background-color: rgba(0, 0, 0, 0.2); /* Fondo oscuro semitransparente */
}

.container-login100 {
  width: 100%; /* Ocupa todo el ancho disponible */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-login100 {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  max-width: 1200px; /* Opcional: para limitar el ancho en pantallas grandes */
  background-color: #1a1a1a; /* Fondo interno oscuro */
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #d4af37; /* Color dorado del texto */
}
